<!-- <swiper-container class="slider_bar" slides-per-view="1" pagination="true" navigation="{{pagination}}"
  pagination-clickeble="true" speed="500" loop="true" mousewheel-force-to-axis="true">
  <swiper-slide>
    <figure class="figure">
      <img src="assets/images/banner/banner.webp" class="figure-img img-fluid" alt="..." />
    </figure>
  </swiper-slide>
  <swiper-slide>
    <figure class="figure">
      <img src="assets/images/banner/banner1.webp" class="figure-img img-fluid" alt="..." />
    </figure>
  </swiper-slide>
  <swiper-slide>
    <figure class="figure">
      <img src="assets/images/banner/banner4.webp" class="figure-img img-fluid" alt="..." />
    </figure>
  </swiper-slide>
  <swiper-slide>
    <figure class="figure">
      <img src="assets/images/banner/banner5.webp" class="figure-img img-fluid" alt="..." />
    </figure>
  </swiper-slide>
  <swiper-slide>
    <figure class="figure">
      <img src="assets/images/banner/banner6.webp" class="figure-img img-fluid" alt="..." />
    </figure>
  </swiper-slide>
  <swiper-slide>
    <figure class="figure">
      <img src="assets/images/banner/2b681ddc0740b54b.webp" class="figure-img img-fluid" alt="..." />
    </figure>
  </swiper-slide>
  <swiper-slide>
    <figure class="figure">
      <img src="assets/images/banner/c71214dd5d01be5c.webp" class="figure-img img-fluid" alt="..." />
    </figure>
  </swiper-slide>
</swiper-container> -->