<nav class="navbar fixed-top navbar-expand-lg z-2 nab_bg">
    <div class="container-fluid">
      <a class="navbar-brand me-4" href="#"><img src="assets/images/logo/fkheaderlogo_exploreplus-44005d.svg"
          alt="" /></a>
  
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <form class="d-flex form_control" role="search">
        <i class="fa-solid fa-magnifying-glass"></i>
        <input class="form-control input_area me-2" type="search" placeholder="Search For Product, Brands and More"
          aria-label="Search" />
      </form>
      <div class="collapse navbar-collapse justify-content-center me-auto header_fixed" id="navbarSupportedContent">
        <ul class="navbar-nav mb-2 mb-lg-0 header_btn">
          <li class="nav-item  login_card_btn">
            <a class="nav-link " routerLink="/auth/login"><i class="fa-regular fa-circle-user"></i> Login </a>
  
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/layout/cotegory/"><i class="fa-solid fa-cart-plus"></i> Cart</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"><i class="fa-solid fa-store"></i> Bussines Seller</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"><i class="fa-solid fa-ellipsis-vertical"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- Button trigger modal -->