<div class="container-fluid z-2 mt-3 category_section">
    <div class="row">
      <div class="col">
        <figure class="figure text-center p-2">
          <img src="assets/images/banner/pngwing.com.png" style="width: 60px" class="figure-img img-fluid rounded"
            alt="Offer" />
          <figcaption class="figure-caption">
            <h6>Top Offer</h6>
          </figcaption>
        </figure>
      </div>
      <div class="col" type="button" >
      <!-- <div class="col" type="button" (click)="goToProductList()"> -->
        <figure class="figure text-center p-2">
          <img src="assets/images/banner/phone.webp" style="width: 60px" class="figure-img img-fluid rounded"
            alt="Offer" />
          <figcaption class="figure-caption">
            <h6>Mobiles & Tablets</h6>
          </figcaption>
        </figure>
      </div>
      <div class="col">
        <figure class="figure text-center p-2">
          <img src="assets/images/banner/tv.webp" style="width: 60px" class="figure-img img-fluid rounded" alt="Offer" />
          <figcaption class="figure-caption">
            <h6>TV & Appliances</h6>
          </figcaption>
        </figure>
      </div>
      <div class="col">
        <figure class="figure text-center p-2">
          <img src="assets/images/banner/4da1d0d19350cc84.webp" style="width: 60px" class="figure-img img-fluid rounded"
            alt="Offer" />
          <figcaption class="figure-caption">
            <h6>Electronocs</h6>
          </figcaption>
        </figure>
      </div>
      <div class="col">
        <figure class="figure text-center p-2">
          <img src="assets/images/banner/fation.webp" style="width: 60px" class="figure-img img-fluid rounded"
            alt="Offer" />
          <figcaption class="figure-caption">
            <h6>Fashion</h6>
          </figcaption>
        </figure>
      </div>
      <div class="col">
        <figure class="figure text-center p-2">
          <img src="assets/images/banner/beatuy.webp" style="width: 60px" class="figure-img img-fluid rounded"
            alt="Offer" />
          <figcaption class="figure-caption">
            <h6>beauty</h6>
          </figcaption>
        </figure>
      </div>
      <div class="col">
        <figure class="figure text-center p-2">
          <img src="assets/images/banner/homee.webp" style="width: 60px" class="figure-img img-fluid rounded"
            alt="Offer" />
          <figcaption class="figure-caption">
            <h6>Home & Kitchen</h6>
          </figcaption>
        </figure>
      </div>
      <div class="col">
        <figure class="figure text-center p-2">
          <img src="assets/images/banner/traval.webp" style="width: 60px" class="figure-img img-fluid rounded"
            alt="Offer" />
          <figcaption class="figure-caption">
            <h6>Traval</h6>
          </figcaption>
        </figure>
      </div>
      <div class="col">
        <figure class="figure text-center p-2">
          <img src="assets/images/banner/Grocery.webp" style="width: 60px" class="figure-img img-fluid rounded"
            alt="Offer" />
          <figcaption class="figure-caption">
            <h5>Grocery</h5>
          </figcaption>
        </figure>
      </div>
    </div>
  </div>