<div class="container-fluid footer_bg">
    <div class="row py-3">
        <div class="col-md-6 d-flex flex-row border_right">
            <div class="col">
                <ul class="pe-sm-0 p-0">
                    <li class="list-unstyled footer_head">About</li>
                    <li class="list-unstyled text-dark"><a class="text-decoration-none" href="#"> Content US</a></li>
                    <li class="list-unstyled text-dark"><a class="text-decoration-none" href="#"> About Us</a></li>
                    <li class="list-unstyled text-dark"><a class="text-decoration-none" href="#"> Careers</a></li>
                    <li class="list-unstyled text-dark"><a class="text-decoration-none" href="#"> Flipkart Storage</a>
                    </li>
                    <li class="list-unstyled text-dark"><a class="text-decoration-none" href="#"> Press</a></li>
                    <li class="list-unstyled text-dark"><a class="text-decoration-none" href="#"> Corporate</a></li>
                    <li class="list-unstyled text-dark"><a class="text-decoration-none" href="#"> Information</a></li>
                </ul>
            </div>
            <div class="col">
                <ul>
                    <li class="list-unstyled footer_head">Group Companies</li>
                    <li class="list-unstyled text-dark"><a class="text-decoration-none" href="#"> Content US</a></li>
                    <li class="list-unstyled text-dark"><a class="text-decoration-none" href="#"> About Us</a></li>
                    <li class="list-unstyled text-dark"><a class="text-decoration-none" href="#"> Careers</a></li>
                    <li class="list-unstyled text-dark"><a class="text-decoration-none" href="#"> Flipkart Storage</a>
                    </li>
                    <li class="list-unstyled text-dark"><a class="text-decoration-none" href="#"> Press</a></li>
                    <li class="list-unstyled text-dark"><a class="text-decoration-none" href="#"> Corporate</a></li>
                    <li class="list-unstyled text-dark"><a class="text-decoration-none" href="#"> Information</a></li>
                </ul>
            </div>
            <div class="col">
                <ul>
                    <li class="list-unstyled footer_head">Help</li>
                    <li class="list-unstyled text-dark"><a class="text-decoration-none" href="#"> Content US</a></li>
                    <li class="list-unstyled text-dark"><a class="text-decoration-none" href="#"> About Us</a></li>
                    <li class="list-unstyled text-dark"><a class="text-decoration-none" href="#"> Careers</a></li>
                    <li class="list-unstyled text-dark"><a class="text-decoration-none" href="#"> Flipkart Storage</a>
                    </li>
                    <li class="list-unstyled text-dark"><a class="text-decoration-none" href="#"> Press</a></li>
                    <li class="list-unstyled text-dark"><a class="text-decoration-none" href="#"> Corporate</a></li>
                    <li class="list-unstyled text-dark"><a class="text-decoration-none" href="#"> Information</a></li>
                </ul>
            </div>
            <div class="col">
                <ul>
                    <li class="list-unstyled footer_head">Consumer Policy</li>
                    <li class="list-unstyled text-dark"><a class="text-decoration-none" href="#"> Content US</a></li>
                    <li class="list-unstyled text-dark"><a class="text-decoration-none" href="#"> About Us</a></li>
                    <li class="list-unstyled text-dark"><a class="text-decoration-none" href="#"> Careers</a></li>
                    <li class="list-unstyled text-dark"><a class="text-decoration-none" href="#"> Flipkart Storage</a>
                    </li>
                    <li class="list-unstyled footer_head"><a class="text-decoration-none" href="#"> Press</a></li>
                    <li class="list-unstyled text-dark"><a class="text-decoration-none" href="#"> Corporate</a></li>
                    <li class="list-unstyled text-dark"><a class="text-decoration-none" href="#"> Information</a></li>
                </ul>
            </div>

        </div>
        <div class="col-md-6 ">
            <div class="row mt-3">
                <div class="col-md-6 footer_para">
                    <h5 class="footer_head">Mail Us:</h5>
                    <p>Flipkart Internet Private Limited, </p>
                    <p> Buildings Alyssa, Begonia & </p>
                    <p> Clove Embassy Tech Village, </p>
                    <p> Outer Ring Road, Devarabeesanahalli Village,</p>
                    <p> Bengaluru, 560103, </p>
                    <p> Karnataka, India</p>

                    <h5 class="mt-1 footer_head">Socle Media :</h5>
                    <ul class="list-unstyled d-flex">
                        <li class="ms-3 "><a class="link-light fs-3" href="#"><i class="fa-brands fa-facebook"></i> </a>
                        </li>
                        <li class="ms-3"><a class="link-light fs-3" href="#"><i class="fa-brands fa-x-twitter"></i></a>
                        </li>
                        <li class="ms-3"><a class="link-light fs-3" href="#"><i class="fa-brands fa-youtube"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-6 footer_para">
                    <h5 class="footer_head">Registered Office Address:</h5>
                    <p>Flipkart Internet Private Limited, </p>
                    <p> Buildings Alyssa, Begonia & </p>
                    <p> Clove Embassy Tech Village, </p>
                    <p> Outer Ring Road, Devarabeesanahalli Village, </p>
                    <p> Bengaluru, 560103, </p>
                    <p> Karnataka, India </p>
                    <p> CIN : U51109KA2012PTC066107 </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row d-flex border-top">
        <div class="col-md-9 d-flex flex-column justify-content-between flex-sm-row  pt-4   ">
            <p><i class="fa-solid fa-gift"></i> Become a Seller</p>
            <p><i class="fa-solid fa-puzzle-piece"></i> Advertise</p>
            <p><i class="fa-solid fa-gifts"></i> Card Gift</p>
            <p><i class="fa-regular fa-circle-question"></i> Help Center</p>
            <p>&copy; 2007-2024 Flipkart.com </p>
        </div>
        <div class="col-md-3">
            <ul class="list-unstyled d-flex justify-content-center align-items-center mt-4 text-center">
                <li class="ms-3 "><a class="link-light " href="#"></a><i class=" fs-3 fa-brands fa-cc-visa"></i></li>
                <li class="ms-3 "><a class="link-light " href="#"><i class=" fs-3 fa-brands fa-cc-paypal"></i></a></li>
                <li class="ms-3 "><a class="link-light " href="#"><i class=" fs-3 fa-brands fa-cc-amazon-pay"></i></a>
                </li>
                <li class="ms-3 "><a class="link-light " href="#"><i class=" fs-3 fa-brands fa-cc-discover"></i></a>
                </li>
            </ul>
        </div> 
    </div>
</div>